.Lusy{
    width: 70%;
    min-height: 2rem;
    background: var(--var-bg);
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: var(--var-box-shadow) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--var-color-text);
    text-shadow: var(--var-box-shadow);
    margin-bottom: 1rem;
}